<div class='container dashboard'>
	<div class='row'>
		<div class='span12'>					
			<div class='row'>
			  <div class='span3 dashboard-left'>
			      <h3>Projects</h3>
			      <ul class="project-list nav nav-tabs nav-stacked">
			          {{#each projects}}
			          <li rel="{{_id}}">{{name}}</li>
			          {{/each}}
                  </ul>
                  <p id="create-project-inline"></p>
                  <p><a href="{{ dashboard_url }}/project/create" id="create-project-button" class="btn btn-success btn-small">Create</a></p>
			  </div>
			  <div class='span9 dashboard-right'>
			      <div class="row">
			          <div class='span7 main-area'>
			              {{#if project}}
                          <h3 id="project-name">{{project.name}}</h3>
                          <h4 id="project-description">{{project.description}}</h4>
                          <h5>Involved</h5>
                          {{#each project.resources}}
                          <p><a href="/profile/view/{{name}}">{{name}}</a></p>
                          {{/each}}
                          <h5>Owner</h5>
                          <p><a href="/profile/view/{{project.client.name}}">{{project.client.name}}</a></p>
                          <p><a href="{{ dashboard_url }}/project/{{ projectId }}" id="delete-project-button" class="btn btn-error btn-small">Delete</a></p>
                          <ul id="task-list" class="task-list nav nav-tabs nav-stacked">
                              {{#each tasks}}
                              <li rel="{{_id}}">{{name}}</li>
                              {{/each}}
                          </ul>
                          <p id="create-task-inline"></p>
                          <p><a href="{{ dashboard_url }}/task/create/{{ projectId }}" id="create-task-button" class="btn btn-success btn-small">Create</a></p>
                          {{/if}}
                      </div>
                      <div class='span2 supplementary-area'>
                          <h3>filters, etc</h3>
                      </div>
                  </div>
			  </div>
			</div>
		</div>
	</div>
</div>
