<header>
  <div class="wrapper">
    <h1><a href="/" title="Open Include">Open Include</a></h1>
    
    {{#unless in_stealth_mode }}
      {{#if user}}      
      <div class="sign-in"><a href="{{logout_url}}" class="button">sign out</a></div>
      <div class="sign-in"><a href="{{profile_url}}" class="button">profile</a></div>
      	{{#if is_superuser}}
      	<div class="sign-in"><a href="{{admin_url}}" class="button">admin</a></div>
      	{{/if}}  
      {{else}}
      <div class="sign-in"><a href="{{signin_url}}" class="button">sign in</a></div>
      {{/if}}
      <div class="sign-in"><a href="{{discover_url}}" class="button">discover</a></div>
      <div class="sign-in"><a href="{{how_to_url}}" class="button">how to</a></div>
      <div class="sign-in"><a href="{{modules_url}}" class="button">modules</a></div>
    {{/unless}}

  </div>
</header>

