<section class="contents">
  <div class="wrapper" {{#if in_stealth_mode}}style="width:740px"{{/if}}>
    <div class="features">
      <ul>
        <li> <a href="{{#unless in_stealth_mode}}/discover{{/unless}}">
          <div class="box"><img src="{{STATIC_URL}}images/icon-discover.png" alt="">
            <h2>Discover</h2>
            <p>quality open source projects</p>
          </div>
          </a> </li>
        <li> <a href="{{#unless in_stealth_mode }}{% url demo %}{{/unless}}">
          <div class="box"><img src="{{STATIC_URL}}images/icon-demo.png" alt="">
            <h2>Demo</h2>
            <p>on our virtual machines</p>
          </div>
          </a> </li>
        <li> <a href="{{#unless in_stealth_mode }}{% url integrate %}{{/unless}}">
          <div class="box"><img src="{{STATIC_URL}}images/icon-integrate.png" alt="">
            <h2>Integrate</h2>
            <p>into your current work</p>
          </div>
          </a> </li>
{{#unless in_stealth_mode}}
        <li> <a href="{% url contribute %}">
          <div class="box"><img src="{{STATIC_URL}}images/icon-contribute.png" alt="">
            <h2>Contribute</h2>
            <p>code or cash to the open source ecosystem</p>
          </div>
          </a> </li>
{{/unless}}
      </ul>
    </div>

{{#if in_stealth_mode }}
    <div class="email">
      <form  class="email-form" action="/prelaunch/email/" method="POST">
        <input type="text" name="email" placeholder="email address - we will get in touch for the launch.">
        {{csrf_token}}
        <button type="submit">submit</button>
      </form>
    </div>
{{/if}}

{{#unless in_stealth_mode}}
    <div class="search">
      <form  class="search-form" action="{% url project-search '' %}" method="GET">
        <input type="text" name="query" placeholder="discover an open source project">
        <button type="submit">search</button>
      </form>
      <a href="#" class="advanced">advanced search</a>
    </div>

    <div class="search-terms">
      <h3>sample search terms:</h3>
      <ul>
        <li><a href="#">neural net python</a></li>
        <li><a href="#">prime number generator java</a></li>
        <li><a href="#">scraping toolkit</a></li>
        <li><a href="#">sleek web design</a></li>
      </ul>
    </div>
{{/unless}}

  </div>
</section>
