<div class='container profile'>
	<div class='row'>
		<div class='span12'>					
			<div class='row'>
			  <div class='span4'>
			    <div class='personalInformation'>
			      <img src="http://www.gravatar.com/avatar/{{ user.github_avatar_url }}?s=210" class='avatar'  />
            <h3>{{ user.github_display_name }}</h3>
            <h4><a href='https://github.com/{{ user.github_username }}' target="_blank" class='muted'>{{ user.github_username }}</a></h4>
            <hr />
            <h4>Account type</h4>
            <div class='accountType'>
              <div class='type'>
                <div>
                  <div class='status'>
                  {{#if user.merchant}}
                    {{#if user.has_stripe}}
                      <i class='icon-ok'></i>
                    {{else}}
                      <div class='dropup setupPayment'>
                          <button class="btn btn-success btn-mini">Setup payment method</button>
                          {{> member/credit_card}}
                      </div>                    
                    {{/if}}
                  {{else}}
                  <a href='{{merchant_agreement}}' class='btn btn-success btn-mini'>Sign Up</a>
		
                  {{/if}}
                  </div>
                  <p>Client</p>
                </div>                
              </div>
              <div class='type'>
                <div>
                  <div class='status'>
                  {{#if user.employee}}
                    <i class='icon-ok'></i>
                  {{else}}
                    <a href='{{developer_agreement}}' class='btn btn-success btn-mini'>Sign Up</a>
                  {{/if}}
                  </div>
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <hr />
	    {{#if user.merchant}}
            {{#if user.has_stripe}}
            <a href='{{view_bills}}' class='btn btn-success btn-mini'>View Bills</a>
            <hr />
	   {{/if}}
           {{/if}}
            <div class='contactData'>
              <div class='contact2'>
                <i class='icon-envelope'></i> <a class='muted' href="mailto:{{ user.github_email }}">{{ user.github_email }}</a>
				
              </div>
            </div>
			    </div>			             
			  </div>
			  <div class='span8 informationBox'>{{{informationBox}}}</div>
			</div>
		</div>
	</div>
</div>
