<h2>{{ title }}</h2>

<div>
<h3>User Data Gotten from Github</h3>
<ul>
    <li><img src="{{ member.github_avatar_url }}"></img></li>
    <li>{{ member.github_display_name }}</li>
    <li>{{ member.github_username }}</li>
    <li>{{ member.github_id }}</li>
</ul>

</div>
