<h3>Filter</h3>
{{#each filters}}
	{{#with this}}	
	<div class='filterBox'>
		<h4>{{name}} <a href='#' class='pull-right' data-reset='{{key}}'>reset filter</a></h4>
		<ul class='unstyled'>			
			{{#each languages}}
				<li>
					<label class='checkbox'>
						<input type='checkbox' name='{{../key}}' value="{{this}}" /> {{this}} 				
					</label>
				</li>
			{{/each}}
		</ul>
	</div>
	{{/with}}
{{/each}}